@page "/"
@page "/welcome"
@layout SignupLayout

<PageTitle>Welcome to E-Sense</PageTitle>

<MudMainContent>
        <div style="position: fixed; top: 0; left: 0; height: 100vh; width: 100vh;">

                <MudImage Src="images/bg.jpg" Alt="ESenseIndex" MaxWidth="100%" MaxHeight="100%" Elevation="0" />
        </div>
<MudPaper Height="500px" Elevation="0">
<MudButton Style = "height:80px; width:150px; top:500px; left:900px;"  href ="login" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Get Started</MudButton>
</MudPaper>
</MudMainContent>