@page "/"
@page "/welcome"
@layout SignupLayout

<PageTitle>Welcome to E-Sense</PageTitle>

<MudMainContent>
    <div class="fixed" style="top: 0; left: 0; height: 100vh; width: 100vh;">

        <MudImage Src="images/bg.jpg" Alt="ESenseIndex" MaxWidth="100%" MaxHeight="100%" Elevation="0" />
    </div>

    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Class="d-flex justify-center align-content-end flex-wrap" Height="700px" Elevation="20">
            <MudButton Style="height:80px; width:150px;" Variant="Variant.Filled" Color="Color.Primary"
                Size="Size.Large">Get Started</MudButton>
        </MudPaper>
    </MudContainer>
</MudMainContent>