@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 signup-layout-gradient" Height="100vh"
    style="background: rgb(2, 0, 36) !important;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 116, 1) 50%, rgba(80, 0, 212, 1) 100%) !important;" Square="true">
    <div Class="flex-grow-1" style="opacity: 0.9;">
        @Body
    </div>
</MudPaper>